@page {
    max-height: 8.657343836573437em !important;
    max-width: 20.476500204765em !important;
    margin: 0;
    padding-left: 0.6022500060225em !important;
}
html, body {
    max-height: 8.657343836573437em !important;
    max-width: 20.476500204765em !important;
    margin: 0;
    padding-left: 0.6022500060225em !important;
    font-family: "Lucida Console";
}
@media print {
    html, body {
        max-height: 8.657343836573437em !important;
        max-width: 20.476500204765em !important;
        font-family: "Lucida Console";
    }
}