@import url("/css/bootstrap.css");
@import url("/css/fabric.min.css");
@import url("/css/fabric.components.min.css");
@import url("/config/stylesheet.css");
* { transition: background-color 0.15s ease-in-out !important, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.2s ease-in-out !important; }
*:hover { transition: all 0.2s ease-in-out !important; }
button, input { -webkit-app-region: no-drag; }
.titlebar, header, .ns-header, .ns-header-left, .ns-header-center, .ns-header-right, .form-login { -webkit-user-select: none; -webkit-app-region: drag; cursor: default; }
/* Header - Footer */
header {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  height: 64px;
  width: 100%;
  padding: 0;
  position: fixed;
  top: 0px;
  z-index: 600;
  white-space: nowrap;
}
footer {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  padding: 0;
  position: relative;
}
.ns-header { background-size: 64px !important; }
.ns-footer { padding-top: 18px; padding-bottom: 18px; }
.ns-header, .ns-footer { margin: 0 auto; height: 100%; display: table; }
.ns-header-left, .ns-footer-left, .ns-Nav { min-width: 175px; padding-left: 16px; display: table-cell; vertical-align: middle; padding-right: 1rem !important; }
.ns-header-center, .ns-footer-center { display:table-cell; width: 100%; padding-left: 16px; text-align: left; vertical-align: middle; }
.ns-header-right, .ns-footer-right { display: table-cell; vertical-align: middle; text-align: right; }
.ns-header-right, .ns-footer-right { margin-right: 16px; padding-right: 16px; }
.ns-footer-right { min-width: 250px; }
/* Content Wrapper */
.ns-Wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 64px;
  -webkit-transition: all 267ms cubic-bezier(.1,.9,.2,1);
  transition: all 267ms cubic-bezier(.1,.9,.2,1);
}
.ns-Nav {
  margin-right: -1px;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  bottom: 0px;
  top: 118px;
  -webkit-transition: 267ms cubic-bezier(.1,.9,.2,1);
  -webkit-transition-property: left;
  transition: 267ms cubic-bezier(.1,.9,.2,1);
  transition-property: left;
  padding-bottom: 60px;
}
/* Menu Gubbins */
@media screen and (min-width:640px){
  .ns-Content { padding: 0 32px 100px 32px; }
  .ns-Wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media screen and (min-width:1024px){
  .ns-Nav {
    top: auto;
    position: relative;
    overflow-y: visible;
    left: auto;
  }
  nav { padding-top: 20px; }
  /* Content */
  .ns-Content {
    padding: 0 16px 0 16px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    left: 0px;
    position: relative;
    -webkit-transition: all 267ms cubic-bezier(.1,.9,.2,1);
    transition: all 267ms cubic-bezier(.1,.9,.2,1);
  }
}
.section-header { display: inline-block; margin-bottom: 14px; }
/* Generic and Ubiquitous Styling; Basically same across the board */
/* Navigation */
.nav-link, a:link, span.page-link, .page-item.disabled .page-link { background: none; }
#manNav { margin-top: -16px; margin-left: -1px; bottom: 0px; }
.manNav { margin-top: -16px; bottom: 0px; }
#adminNavBar { margin-left: -16px; }
/* Push Bewtons */
.btn:hover, button { cursor: pointer; }
/* Jumbotrons */
.jumbotron { padding: 2rem 1rem; background: linear-gradient(to bottom right, #004e8c, #66addd); color: azure; }
.jumbotron p { margin-left: 16px; }
/* Dropdowns */
.dropdown-menu { background-color: RGBA(62, 62, 62, 0.9); color: #fff; box-shadow: 2px 2px 40px -5px rgba(31,31,31, 0.8); }
.dropdown-item, .dropdown-item:link { color: #fff; margin-right: 1px; font-size: 14px;}
.dropdown-item:focus, .dropdown-item:hover { background-color: RGBA(124, 124, 124, 0.8); color: #fff; }
.dropdown-header { color: #eee; }
/* Modal */
.modal-dialog { padding-top: 70px; }
.modal-dialog.modal-dialog-centered { padding-top: inherit; }
.modal-xl { max-width: 1152px; }
.close-light, .close-light:focus, .close-light:hover { color: #fff; font-weight: normal; text-shadow: 0px 0px 0px #000; }
.modal-backdrop.show { opacity: 1; background-color: rgba(0, 0, 0, 0.8); }
.modal-content { background-color: rgba(0, 0, 0, 0.0); border: 0; }
/* Forms */
.form-control-plaintext { background-color: rgba(0, 0, 0, 0.0); }
/* Login */
.login { height: 100%; width: 100%; position: absolute; }
.form-login { max-width: 330px; padding: 15px; margin: 0 auto; }
.form-login .form-login-heading, .form-login .checkbox { margin-bottom: 10px; }
.form-login .checkbox { font-weight: normal; }
.form-login .form-control { position: relative; height: auto; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px; font-size: 16px; }
.form-login .form-control:focus { z-index: 2; }
.form-login input[type="text"] { margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.form-login input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }
/* Scratchpad */
#Scratchpad {
  height: 100%;
  display: block;
}
a { text-decoration: none !important; color: #0078d7; }
.card a { color: #212529; }
/* Tables */
.table td, .table tbody th { border-top:  1px solid rgba(124,124,124,0.8); }
.table thead th { border-bottom: 1px solid rgba(124,124,124,0.8); }
.table thead th { border-top: 0px; }
/* Tiles - The Windows 10 looking things we made ;) */
.tile-container {
  flex-grow: 1;
  min-width: 108px;
}
.tile {
  position: relative;
  margin-bottom: 8px;
  margin-right: 8px;
  float: left;
  display: inline-block;
}
.tile a {
  height: 100px;
  width: 100px;
  display: block;
  /* text-align: center; */
  color: #fff;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to bottom, #339fdd, #004e8c);
  background-color: #004e8c;
  border: 2px solid #339fdd;
}
.tile a:hover {
  background: linear-gradient(to bottom, #44afee, #115f9d);
  background-color: #115f9d;
  border: 2px solid #44afee;
  text-decoration: none;
}
.tile div.name {
  display: block;
  height: 100px;
  margin: 6px 6px;
}
.tile span.name {
  line-height: 15px;
  left: 50%;
  min-width: 100%;
  top: 50%;
  translate: translate(-50%, -50%);
  white-space: normal;
}
/* Acrylic Material */
.acrylic, .modal-backdrop, .modal-header, .modal-body, .modal-footer {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-image: url("/lib/acrylic.png");
}
.acrylic, .acrylic.light {
  background-color: rgba(248, 249, 250, 0.8);
}
.acrylic.low, .acrylic.light-low {
  background-color: rgba(248, 249, 250, 0.7);
}
.acrylic.medium, .acrylic.light-medium {
  background-color: rgba(248, 249, 250, 0.6);
}
.acrylic.max, .acrylic.light-max {
  background-color: rgba(248, 249, 250, 0.4);
}
.acrylic.white {
  background-color: rgba(255, 255, 255, 0.8);
}
.acrylic.white-low {
  background-color: rgba(255, 255, 255, 0.7);
}
.acrylic.white-medium {
  background-color: rgba(255, 255, 255, 0.6);
}
.acrylic.white-max {
  background-color: rgba(255, 255, 255, 0.4);
}
.acrylic.dark, .acrylic.gray-dark {
  background-color: rgba(52, 58, 64, 0.8);
}
.acrylic.dark-low, .acrylic.gray-dark-low {
  background-color: rgba(52, 58, 64, 0.7);
}
.acrylic.dark-medium, .acrylic.gray-dark-medium, .modal-header, .modal-body {
  background-color: rgba(52, 58, 64, 0.6);
}
.acrylic.dark-max, .acrylic.gray-dark-max, .modal-footer {
  background-color: rgba(52, 58, 64, 0.4);
}
.acrylic.blue, .acrylic.primary {
  background-color: rgba(0, 123, 255, 0.8);
}
.acrylic.blue-low, .acrylic.primary-low, .nav-pills .nav-link.active, .acrylic.btn-primary {
  background-color: rgba(0, 123, 255, 0.7);
}
.acrylic.blue-medium, .acrylic.primary-medium, .acrylic.btn-primary-medium {
  background-color: rgba(0, 123, 255, 0.6);
}
.acrylic.blue-max, .acrylic.primary-max, .acrylic.btn-primary-max {
  background-color: rgba(0, 123, 255, 0.4);
}
.acrylic.gray, .acrylic.grey, .acrylic.secondary, .acrylic.btn-secondary {
  background-color: rgba(134, 142, 150, 0.8);
}
.acrylic.gray-medium, .acrylic.grey-medium, .acrylic.secondary-medium, .acrylic.btn-secondary-medium {
  background-color: rgba(134, 142, 150, 0.6);
}
.acrylic.gray-max, .acrylic.grey-max, .acrylic.secondary-max, .acrylic.btn-secondary-max {
  background-color: rgba(134, 142, 150, 0.4);
}
.acrylic.green, .acrylic.success {
  background-color: rgba(40, 167, 69, 0.8);
}
.acrylic.green-medium, .acrylic.success-medium {
  background-color: rgba(40, 167, 69, 0.6);
}
.acrylic.green-max, .acrylic.success-max {
  background-color: rgba(40, 167, 69, 0.4);
}
.acrylic.indigo {
  background-color: rgba(102, 16, 242, 0.8);
}
.acrylic.purple {
  background-color: rgba(111, 66, 193, 0.8);
}
.acrylic.pink {
  background-color: rgba(232, 62, 140, 0.8);
}
.acrylic.red, .acrylic.danger, .acrylic.btn-danger {
  background-color: rgba(220, 53, 69, 0.8);
}
.acrylic.orange {
  background-color: rgba(253, 126, 20, 0.8);
}
.acrylic.yellow, .acrylic.warning, .acrylic.btn-warning {
  background-color: rgba(255, 193, 7, 0.8);
}
.acrylic.teal {
  background-color: rgba(32, 201, 151, 0.8);
}
.acrylic.cyan, .acrylic.info, .acrylic.btn-info, .acrylic.badge-info {
  background-color: rgba(23, 162, 184, 0.8);
}
.acrylic.positive {
  background-color: rgba(18, 139, 68, 0.8);
}
.acrylic.neutral, .acrylic.badge-neutral, .acrylic.bg-neutral, .acrylic.btn-neutral {
  background-color: rgba(44, 113, 185, 0.8);
}
.acrylic.cautionary {
  background-color: rgba(253, 194, 20, 0.8);
}
.acrylic.negative {
  background-color: rgba(216, 35, 41, 0.8);
}
/* Additional Colours/Text */
.dark, .dark-medium, .dark-max, .modal-header, .modal-body, .modal-footer, .btn-primary-medium, .btn-primary-max, .btn-secondary-medium, .btn-secondary-max, .badge-neutral, .btn-neutral {
  color: #fff;
}
/* Parallax */
.parallax {
  position: relative;
}
/* Vertial Height */
@media screen {
  .vh-50 {
    height: 50vh !important;
  }
  .mvh-50 {
    min-height: 50vh !important;
  }
  .vh-75 {
    height: 75vh !important;
  }
  .mvh-75 {
    min-height: 75vh !important;
  }
  .vh-100 {
    height: 100vh !important;
  }
  .mvh-100 {
    min-height: 100vh !important;
  }
}
/* Atom Shell transparency */
html, body {
  background-color: rgba(0, 0, 0, 0.0) !important;
}
/* Preloader */
.loader {
  position: relative;
  width: 40px;
  margin: auto;
  cursor: progress;
}
.loader .circle {
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  transform: rotate(235deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 4.5s;
}
.loader .circle:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
}
.loader .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loader .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loader .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loader .circle:nth-child(5) {
  animation-delay: 960ms;
}
@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }
  76% {
    transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
.preloader-dialog {
  margin: auto;
  margin-top: 72px;
  color: #fff;
  -webkit-user-select: none;
  cursor: progress;
}
/* Icons */
.icon {
  -moz-osx-font-smoothing: grayscale;
  font-family: FabricMDL2Icons;
  font-style: normal;
  font-weight: 400;
  speak: none;
}
.icon--Search::before {
  content: "\E721";
}
/* Progress bar */
.progress {
  width: 150px;
  height: 20px;
  position: relative;
}
.progress span {
    position: absolute;
    width: 33%;
    margin: 0px 33%;
    z-index: 2;
    text-align: center;
}
/* Scrollspy */
.overflow-y.scroll {
  overflow-y: scroll;
}
/* Printing Preferences */
@page { size: A4 landscape; margin: 11.5mm 5mm; }
@media print {
  html, body { margin: 0.5cm; margin-top: 0; margin-bottom: 0; font-size: 10px; }
  header, footer, .btn { display: none; }
  .ns-header, .ns-footer, .ns-Nav, nav, .nav, #manNav, .breadcrumb { display: none; }
  .ns-Wrapper, .ns-Content { padding: 0px; }
  .table { margin-bottom: 0px; }
}
