.p1 {
  background: url(/lib/10923312_1016172271729598_3857817275304272502_n.jpg) no-repeat center center fixed;
  background-size: cover;
}
.login {
  background: url(/lib/10923312_1016172271729598_3857817275304272502_n.jpg) no-repeat center center fixed;
  background-size: cover;
}
