<div class="row">
  <div class="col-md-2 col-sm-4 mt-0" id="manNav">
    <nav class="nav flex-column nav-pills" role="navigation" aria-label="Navigation">
      <a class="nav-link" id="AdmLinkUserManNew" title="New User" href="#" onclick="AdmNU()">New User</a>
    </nav>
  </div>
  <div class="col pt-2" id="AdmUserManViewport"></div>
</div>
