<div class="row" id="adminNavBar">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light manNav row" role="navigation" aria-label="Navigation">
      <ul class="navbar-nav">
        <li class="nav-item" id="AdmLinkHome">
          <a class="nav-link" id="AdmLinkHome" onclick="AdmStatsShow()">Home</a>
        </li>
        <li class="nav-item" id="AdmLinkUserMan">
          <a class="nav-link" id="AdmLinkUserMan" onclick="AdmUserManShow()">User Management</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col" id="AdmViewport"></div>
</div>
