<div class="row">
  <div class="col-md-2 col-sm-4" id="manNav">
    <nav class="nav flex-column nav-pills" role="navigation" aria-label="Navigation">
      <h4>New Delivery</h4>
      <a id="NewGoodsIn" title="New Incoming Delivery" href="#"></a>
      <a id="NewGoodsOut" title="New Outgoing Despatch" href="#"></a>
      <h4>List Deliveries</h4>
      <a id="ListGoodsIn" title="Incoming" href="#"></a>
      <a id="ListGoodsOut" title="Outgoing" href="#"></a>
    </nav>
  </div>
  <div class="col" id="Viewport">Loading Incoming Deliveries...</div>
</div>
