<div class="row">
  <div class="col-md-2 col-sm-4" id="manNav">
    <nav class="nav flex-column nav-pills" role="navigation" aria-label="Navigation">
      <a class="d-none" id="NewJob" href="#"></a>
      <a class="d-none" id="ActiveJobs" href="#" onclick="JobsShow('1', 'Active')"></a>
      <a class="d-none" id="CompletedJobs" href="#" onclick="JobsShow('1', 'Completed')"></a>
      <a class="d-none" id="HeldJobs" href="#" onclick="JobsShow('1', 'Held')"></a>
    </nav>
  </div>
  <div class="col" id="JobsManViewport">Loading Jobs...</div>
</div>
