<div class="row">
  <div class="col-md-2 col-sm-4" id="manNav">
    <nav class="nav flex-column nav-pills" role="navigation" aria-label="Navigation">
      <a class="nav-link active" title="About Me">About Me</a>
      <a class="nav-link" title="Change Password" onclick="SettingsChangePassword()">Change Password</a>
    </nav>
  </div>
  <div class="col" id="Viewport">Loading...</div>
</div>
