<div class="row">
  <div class="col-md-2 col-sm-4" id="manNav">
    <nav class="nav flex-column nav-pills" role="navigation" aria-label="Navigation">
      <a id="stb1" class="d-none" href="#"></a>
    </nav>
  </div>
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light manNav row" role="navigation" aria-label="Navigation">
      <span class="navbar-brand">Search Style</span>
      <ul class="navbar-nav">
        <li class="nav-item" id="nav1">
          <div class="toggle ms-Toggle ms-Toggle--textLeft nav-link mb-0 w-100 is-disabled">
            <span class="ms-Toggle-description pt-1 px-2">nuSky</span>
            <input type="checkbox" id="searchstyle-a" class="d-none" />
            <label for="searchstyle-a" class="ms-Toggle-field is-selected" tabindex="0"></label>
          </div>
        </li>
        <li class="nav-item" id="nav2">
          <div class="toggle ms-Toggle ms-Toggle--textLeft nav-link mb-0 w-100 is-disabled">
            <span class="ms-Toggle-description pt-1 px-2">Stock Code</span>
            <input type="checkbox" id="searchstyle-b" class="d-none" />
            <label for="searchstyle-b" class="ms-Toggle-field" tabindex="0"></label>
          </div>
        </li>
        <li class="nav-item" id="nav2">
          <div class="toggle ms-Toggle ms-Toggle--textLeft nav-link mb-0 w-100 is-disabled">
            <span class="ms-Toggle-description pt-1 px-2">Description</span>
            <input type="checkbox" id="searchstyle-b" class="d-none" />
            <label for="searchstyle-b" class="ms-Toggle-field" tabindex="0"></label>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row pt-2">
  <!-- <div class="col-md-2 col-sm-4">
    <div id="filters">Loading Filters...</div>
  </div> -->
  <div class="col" id="Viewport">Loading Stock...</div>
</div>
<script type="text/javascript">
  var ToggleElements = document.querySelectorAll(".toggle");
  for (var i = 0; i < ToggleElements.length; i++) {
    new fabric['Toggle'](ToggleElements[i]);
  }
</script>
