<div class="row">
  <div class="col-md-2 col-sm-4 d-none" id="manNav">
    <nav class="nav flex-column nav-pills" role="navigation" aria-label="Navigation">
      <a id="stob1" class="d-none" href="#"></a>
    </nav>
    <nav aria-label="breadcrumb" id="breadcrumbs-wrapper" class="d-none">
      <ol class="breadcrumb" id="breadcrumbs">
      </ol>
    </nav>
  </div>
  <div class="col" id="Viewport">Loading Stores...</div>
</div>
