<div class="row">
  <div class="col-md-2 col-sm-4" id="manNav">
    <nav class="nav flex-column nav-pills" role="navigation" aria-label="Navigation">
      <a id="sub1" class="d-none" href="#"></a>
    </nav>
  </div>
  <div class="col" id="Viewport">Loading Suppliers...</div>
</div>
