<div class="carousel slide" data-interval="false" data-wrap="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h5>Step 1 - User Info</h5>
      <form autocomplete="off">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="Username">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="Username" placeholder="Required" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="FirstName">First Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="FirstName" placeholder="Required" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="Surname">Surname</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="Surname" placeholder="Optional">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="Email">Email Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="Email" placeholder="Optional">
          </div>
        </div>
      </form>
      <div class="row justify-content-between align-items-center pb-2">
        <div class="col" id="AdmNUE1"></div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-primary" onClick="AdmNUS1V()">Next</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <h5>Step 2 - Password</h5>
      <form autocomplete="off">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="Password">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control form-control-sm" id="Password" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="ConfirmPassword">Confirm Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control form-control-sm" id="ConfirmPassword" required>
          </div>
        </div>
      </form>
      <div class="row justify-content-between align-items-center pb-2">
        <div class="col-md-auto">
          <button type="button" class="btn btn-outline-secondary" onclick="prevSlide()">Back</button>
        </div>
        <div class="col" id="AdmNUE2"></div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-primary" onClick="AdmNUS2V()">Next</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <h5>Step 3 - Overview</h5>
      <p>When you press finish the following user will be created.</p>
      <div class="form-group row">
        <div class="col-sm-12" id="AdmNUS1V"></div>
      </div>
      <div class="row justify-content-between align-items-center pb-2">
        <div class="col">
          <button type="button" class="btn btn-outline-secondary" onclick="prevSlide()">Back</button>
        </div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-primary" onclick="AdmNUAddUser()">Finish</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/mods.js"></script>
