<div class="carousel slide" data-interval="false" data-wrap="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      The Longest File Name in the World
    </div>
  </div>
</div>
