<h4 class="display-5">New BoM Wizard</h4>
<div class="carousel slide" data-interval="false" data-wrap="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h5>Step 1 - Create BoM...</h5>
      <form autocomplete="off">
        <label class="col-sm-2 col-form-label" for="BOMStock">Stock Number</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" id="BOMStock" placeholder="Required" required>
        </div>
        <label for="BOMDescription" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" id="BOMDescription" placeholder="Required" required>
        </div>
      </form>
      <div class="form-group row"></div>
      <div class="row justify-content-between align-items-center pb-2">
        <div class="col" id="BOMNBE1"></div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-primary" onClick="BOMNBS1V()">Next</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <h4>Step 2 - Add Components to <span id="BOMNBS2T"></span></h4>
      <div class="form-group row">
        <div class="col-sm-12">
          <table class="table table-hover table-sm nbt" id="ComponentList">
            <thead>
              <th>Item #</th>
              <th>Stock Code</th>
              <th>Description</th>
              <th>Qty</th>
              <th>Comp Ref</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="alert alert-info" role="alert">Please note: Components sequence in the order that they are entered.</div>
      <form autocomplete="off">
        <div class="form-group row">
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" id="Stock" placeholder="Stock Code" required >
          </div>
          <div class="col-sm-3">
            <input id="Desc" name="Desc" class="form-control form-control-sm" placeholder="Description" required >
          </div>
          <div class="col-sm-1">
            <input type="text" class="form-control form-control-sm" id="Qty" placeholder="Qty" required >
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" id="CompRef" placeholder="Comp Ref" required >
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-sm" id="AddtoList" onclick="nbs2AddComp()">Add to List</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col pt-2">
            <button type="button" class="btn btn-danger btn-sm" id="RemoveLastItem" onclick="nbs2RemoveLastComp()">Remove Last Item</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col" id="Stock_Autofill"></div>
        </div>
      </form>
      <div class="row justify-content-between align-items-center pb-2">
        <div class="col-md-auto">
          <a class="btn btn-primary text-white" id="nbbb1" onClick="prevSlide()">Back</a>
        </div>
        <div class="col" id="nbe2"></div>
        <div class="col-md-auto">
          <a class="btn btn-primary text-white" id="nbnb2" onClick="nbs2Check()">Next</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <h4>Step 3 - Overview</h4>
      <div class="form-group row">
        <div class="col-sm-12" id="Step1"></div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <table class="table table-hover table-sm nbo2" id="ComponentList">
            <thead>
              <th>Item #</th>
              <th>Stock Code</th>
              <th>Description</th>
              <th>Qty</th>
              <th>Comp Ref</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row justify-content-between align-items-center pb-2">
        <div class="col">
          <button type="button" class="btn btn-outline-secondary" onClick="prevSlide()">Back</button>
        </div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-primary" onClick="BOMAdd()">Finish</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/mods.js"></script>
  </div>
</div>
