<div class="carousel slide" data-interval="false" data-wrap="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h3>Step 1 of 2 <small class="text-muted">Add Details</small></h3>
      <form autocomplete="off">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="CustomerName">Customer Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="CustomerName" placeholder="Required" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="StreetAddress">Street Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="StreetAddress" placeholder="Required; See Note Below" required>
          </div>
          <div class="col">
            <small class="form-text text-muted">This is normally a <b>Number</b> or the <b>Name</b> of the building and the <b>first line of address</b>, i.e. "<b>Spimin House, Beacon Road</b>" or <b>10 Downing Street</b>.</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="Town">Town</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="Town" placeholder="Required; i.e. Poulton-Le-Fylde" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="Region">Region</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="Region" placeholder="Required; i.e. Lancashire" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="PostalCode">Postal Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="PostalCode" placeholder="Required" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="TelNo">Telephone Number</label>
          <div class="col-sm-10">
            <input type="tel" class="form-control form-control-sm" name="TelNo" id="TelNo" placeholder="Required" required>
          </div>
        </div>
      </form>
      <div class="row justify-content-between align-items-center pb-2">
        <div class="col" id="CustomerNCE1"></div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-primary" onClick="CustomerNCS1V()">Next</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <h3>Step 2 of 2 <small class="text-muted">Overview</small></h3>
      <div class="form-group row">
        <div class="col">Be sure to check these details before pressing Finish.</div>
        <div class="col-sm-12" id="CustomerNCS1V"></div>
      </div>
      <div class="row justify-content-between align-items-center pb-2">
        <div class="col-md-auto">
          <button type="button" class="btn btn-secondary" onclick="prevSlide()">Back</button>
        </div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-primary" onclick="CustomerAdd()">Finish</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/mods.js"></script>
