<div class="row">
  <div class="col-md-2 col-sm-4" id="manNav">
    <nav class="nav flex-column nav-pills" role="navigation" aria-label="Navigation">
      <a class="d-none" id="WorksNew" href="#"></a>
      <a class="d-none" id="WorksInternal"></a>
    </nav>
  </div>
  <div class="col" id="Viewport">Loading Works Commencing...</div>
</div>
